<%- include('partials/header'); -%>

<header>
	<div class="smoothie">
		<img src="/file.png" alt="" />
	</div>
	<div class="headings">
		<h4>File Uploaded</h4>
		<a href="/" class="btn blu">Ok</a>
	</div>
</header>

<%- include('partials/footer'); -%>
