<%- include('partials/header'); -%>

<header>
	<div class="smoothie">
		<img src="/poster.png" alt="" />
	</div>
	<div class="headings">
		<h2>
			Secured Data Storage in Cloud Computing for third party public
			auditing scheme.
		</h2>
		<h3>Secure File sharing</h3>
		<a href="/upload" class="btn blu">Upload</a>
		<a href="/download" class="btn grn">Download</a>
	</div>
</header>

<%- include('partials/footer'); -%>
