<%- include('partials/header'); -%>

<header>
	<h2>Upload File</h2>
	<form
		method="post"
		action="/api/files/create"
		enctype="multipart/form-data"
	>
		<label for="uploadF">Upload Your file...</label>
		<input type="file" id="uploadF" name="fileboi" />

		<button type="submit" class="btn blu">Upload</button>
	</form>
</header>

<%- include('partials/footer'); -%>
