<%- include('../partials/aHeader'); -%>

<header>
	<div class="smoothie">
		<img src="/lock.png" alt="" />
	</div>
	<div class="headings">
		<h2>Cloud Share Admin</h2>
		<h3>Control Every Access</h3>
		<a href="/api/admin/users" class="btn blu">Users</a>
		<a href="/api/admin/files" class="btn grn">Files</a>
	</div>
</header>

<%- include('../partials/footer'); -%>
